<html>
<head>
</head>
<body>


Who would you like to follow?
<form action="/send_follow" method="POST">
	<input type="text" name = "toFollow" placeholder="username" required/> </br>
	<input type="submit" value = 'Send Request' />
</form>
<br />

<div> Pending Requests </div>
<table>
	{% for follower in requests %}
		<tr>
			<td>{{follower.followerUsername}}</td>
			<td><a href="/accept_follow/{{ follower.followerUsername }}">Accept</a></td>
			<td><a href="/reject_follow/{{ follower.followerUsername }}">Reject</a></td>
		</tr>
	{% endfor %}
</table>
<br />

<div> Friends List </div>
</body>


</html>
