<html>
<head>
</head>
<body>


Who would you like to follow?
<form action="/send_follow" method="POST">
	<input type="text" name = "toFollow" placeholder="username" required/> <br>
	<input type="submit" value = 'Send Request' />
</form>
<br />

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div> Pending Requests </div>
<table>
	{% for follower in requests[0] %}
		<tr>
			<td>{{follower.followerUsername}}</td>
			<td><a href="/accept_follow/{{ follower.followerUsername }}">Accept</a></td>
			<td><a href="/reject_follow/{{ follower.followerUsername }}">Reject</a></td>
		</tr>
	{% endfor %}
</table>
<br />

<div> Following</div>
<table>
	{% for followee in requests[1] %}
		<tr>
			<td>{{followee.followerUsername}}</td>
			<td><a href="/follower_unfollow/{{ followee.followeeUsername }}">Unfollow</a></td>
		</tr>
	{% endfor %}
</table>

<div> Followers</div>
<table>
	{% for follower in requests[2] %}
		<tr>
			<td>{{follower.followerUsername}}</td>
			<td><a href="/followee_unfollow/{{ follower.followerUsername }}">Remove Follow</a></td>
		</tr>
	{% endfor %}
</table>
</body>


</html>
