<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = ('css/bootstrap.min.css') ) }}">
	<title>Groups</title>
</head>
<body style="margin-left: 2%; margin-right: 2%;">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<button onclick="location.href='/home'" type="button" class="btn btn-sm"> Back </button> <br><br>

<font size="+1">Create group:</font>
<form action = "/create_group" method = "POST">
  <input type="text" name = "createGroup" placeholder="Group Name" required/> </br>
	<input type="submit" value = 'Create' class="btn btn-sm" />
</form>

<br>

<font size="+1">Who would you like to add to which group:</font>
<form action="/add_friend" method="POST">
  <input type="text" name = "group_name" placeholder="group name" required/> <br>
	<input type="text" name = "toAdd" placeholder="username" required/> </br>
	<input type="submit" value = 'Send Request' class="btn btn-sm"/>
</form>
<br />

<div> <font size="+1"><u>Pending Group Requests:</font></u> </div>
<table class="table table-sm">
  <td> <div>Group name:</td>
  <td> <div>Group owner:</td>
  {% for group in pending %}
		<tr>
			<td>{{group.groupName}}</td>
      <td>{{group.groupOwner}}</td>
      <td> <a href = "/accept_group/{{ group.groupName }}/{{group.groupOwner}}"> Accept </td>
      <td> <a href = "/decline_group/{{ group.groupName }}/{{group.groupOwner}}"> Decline </td>
		</tr>
	{% endfor %}
</table>

<hr />

<div> <font size="+1"><u>Groups you belong in:</font></u></div>
<table class="table table-sm">
  <td>Group name:</td>
  <td>Group owner:</td>
  {% for group in request %}
		<tr>
			<td>{{group.groupName}}</td>
      <td>{{group.groupOwner}}</td>
      <td> <a href = "/manage_group/{{ group.groupName }}/{{group.groupOwner}}"> Manage </a>
		</tr>
	{% endfor %}
</table>

</body>
</html>
