<html>
<head>
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<button onclick="location.href='/home'" type="button"> Back </button>

<br /><br>

<font size="+1"><u>Create group:</font></u>
<form action = "/create_group" method = "POST">
  <input type="text" name = "createGroup" placeholder="Group Name" required/> </br>
	<input type="submit" value = 'Create' />
</form>

<font size="+1"><u>Who would you like to add to which group:</font></u>
<form action="/add_friend" method="POST">
  <input type="text" name = "group_name" placeholder="group name" required/> <br>
	<input type="text" name = "toAdd" placeholder="username" required/> </br>
	<input type="submit" value = 'Send Request' />
</form>
<br />

<div> <font size="+1"><u>Pending Group Requests:</font></u> </div>
<table>
  <td> <div><u>Group name:</u></td>
  <td> <div><u>Group owner:</u> </td>
  {% for group in pending %}
		<tr>
			<td>{{group.groupName}}</td>
      <td>{{group.groupOwner}}</td>
      <td> <a href = "/accept_group/{{ group.groupName }}/{{group.groupOwner}}"> Accept </td>
      <td> <a href = "/decline_group/{{ group.groupName }}/{{group.groupOwner}}"> Decline </td>
		</tr>
	{% endfor %}
</table>

<hr />

<div> <font size="+1"><u>Groups you belong in:</font></u></div>
<table>
  <td><u>Group name:</u></td>
  <td><u>Group owner:</u> </td>
  {% for group in request %}
		<tr>
			<td>{{group.groupName}}</td>
      <td>{{group.groupOwner}}</td>
      <td> <a href = "/manage_group/{{ group.groupName }}/{{group.groupOwner}}"> Manage </a>
		</tr>
	{% endfor %}
</table>

</body>
</html>
