<html>
<head>
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

Create group:
<form action = "/create_group" method = "POST">
  <input type="text" name = "createGroup" placeholder="Group Name" required/> </br>
	<input type="submit" value = 'Create' />
</form>

Who would you like to add to which group?
<form action="/add_friend" method="POST">
  <input type="text" name = "group_name" placeholder="group name" required/> <br>
	<input type="text" name = "toAdd" placeholder="username" required/> </br>
	<input type="submit" value = 'Send Request' />
</form>
<br />

<div> Groups pending: </div>
<table>
  <td> Group name:</td>
  <td> Group owner: </td>
  {% for group in pending %}
		<tr>
			<td>{{group.groupName}}</td>
      <td>{{group.groupOwner}}</td>
      <td> <a href = "/accept_group/{{ group.groupName }}/{{group.groupOwner}}"> Accept </td>
      <td> <a href = "/decline_group/{{ group.groupName }}/{{group.groupOwner}}"> Decline </td>
		</tr>
	{% endfor %}
</table>

<hr />

<div> Groups you belong in:</div>
<table>
  <td> Group name:</td>
  <td> Group owner: </td>
  {% for group in request %}
		<tr>
			<td>{{group.groupName}}</td>
      <td>{{group.groupOwner}}</td>
      <td> <a href = "/manage_group/{{ group.groupName }}/{{group.groupOwner}}"> Manage </a>
		</tr>
	{% endfor %}
</table>

</body>
</html>
