<html>
<head>
</head>
<body>
<form action="/post" method="POST" enctype="multipart/form-data" id = "post_form">
	<h1>Welcome {{username}}</h1>
	<input type="file" name="pic" accept="image/*" required> </br>
	<input type="text" name="caption" placeholder="Caption"> <br>
	<input type="radio" name="allFollowers" value="true" onclick="check()" required id = "follower"> Visible to All Followers<br>
  <input type="radio" name="allFollowers" value="false" id="group" onclick="check()"> Visible to Selected Groups<br>
	<div style="left: 10%;" id = "groups">
		{% for num in length %}
		<input type="checkbox" id = "{{ 'groupName,' + num|string }}" name="{{ 'groupName,' + num|string }}" value="{{group[num].groupName}}" disabled> {{group[num].groupName}}
		<input type="hidden" name="{{ 'groupOwner,' + num|string }}" value="{{group[num].groupOwner}}"><br>
		{% endfor %}
	</div>
	<script>
		var check = function() {
			if(document.getElementById("group").checked) {
				{% for num in length %}
				document.getElementById("{{ 'groupName,' + num|string }}").disabled = false;
				{% endfor %}
			}
			else {
				{% for num in length %}
				document.getElementById("{{ 'groupName,' + num|string }}").disabled = true;
				{% endfor %}
			}
		};
		var validate = function() {
			var groupChecked = document.getElementById("follower").checked;
			{% for num in length %}
			if(document.getElementById("{{ 'groupName,' + num|string }}").checked) {
				groupChecked = true;
			}
			{% endfor %}
			return groupChecked;
		};
	</script>
	<input type="submit" id = "submit" value = Post onclick="return validate()"/>
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<a href = "/follow">Manage Follows</a> <br />
<a href = "/group">Manage Groups</a> <br />
<a href="/search_tag">Search Tags</a><br>
Here are your posts:

<table>
	<th>Time</th>
	<th>Creator</th>
	<th>Post ID</th>
	<th>Groups</th>
	<th>Post</th>
	<th>Caption</th>
	<th>Tagged</th>
	<th>Comment</th>
	<th>Likes</th>


{% for line in posts %}

	<tr>
		<td>{{line.timestamp}}</td>
		<td>{{line.photoOwner}}</td>
		<td>{{line.photoID}}</td>
		<td>
			{% if line.allFollowers == 1 %}
			All Followers
			<br />
			{% endif %}
			{% for group in viewableGroups %}
				{% if group.photoID == line.photoID %}
					{{group.groupName}}
					<br />
				{% endif %}
			{% endfor %}

		</td>
		<td>
					<img src="{{ url_for('static', filename = ('uploads/' + line.filePath) ) }}" alt="Image" height="80" width="80">
		</td>

		<td>{{line.caption}}</td>
		<td>
			{% for tag in tags %}
			{% if tag.photoID == line.photoID %}

			{{tag.username}}
			<br>

			{% endif %}
			{% endfor %}
			<a href = "/tag/{{ line.photoID }}">Tag</a>
		</td>
		<td>
			<form action="/comment/{{line.photoID}}" method="POST" id = "commenter">
				{% for comment in comments %}
				{% if comment.photoID == line.photoID %}

				{{comment.username}}({{comment.timestamp}}): {{comment.commentText}}
				<br />

				{% endif %}
				{% endfor %}
				<input type="text" name="myComment" required> <br>
				<input type="submit" id = "submit" value = Comment>
			</form>
		</td>
		<td>
			{{line.likeCount}}


			{% if line.ifLiked == 1 %}
			<form action="/unlike/{{line.photoID}}" method="POST" id = "unliker">
				<input type="submit" style="color:red" id = "submit" value = Unlike>
			</form>
			{% else %}
			<form action="/like/{{line.photoID}}" method="POST" id = "liker">
				<input type="submit" id = "submit" value = Like>
			</form>
			{% endif %}
		</td>
	</tr>


{% endfor %}


</table>
<br>
<a href="/logout">Logout</a>

</body>


</html>
