<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = ('css/bootstrap.min.css') ) }}">
	<title>Welcome To Finstagram!</title>
</head>

<body style = "text-align: center;">
	<br><br>
	<img src="{{ url_for('static', filename = ('local/' + "Instagram.png") ) }}" alt="Image">
	<br />
	<br />
	<a href="/login" style = "font-size: 27px">Login</a>
	<br />
	<a href="/register" style = "font-size: 27px">Register</a>
</body>

</html>
