<html>
<head>
</head>
<body>

<button onclick="location.href='/group'" type="button"> Back </button>
<br />

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<font size="+1"><u>Group Name:</font></u> {{data[0].groupName}}
<br />
<font size="+1"><u>Members:</font></u>
<table>
  {% for group in data %}
  <tr>
      <td> {{group.username}} </td>
      <td>
        {% if group.groupOwner != group.username and session['username'] == group.groupOwner%}
          <a href = "/kick_member/{{group.groupName}}/{{group.username}}"> Kick </a>
        {% endif %}
      </td>
  </tr>
  {% endfor %}
</table>

{% if data[0].groupOwner != session['username'] %}
  <a href = "/leave_group/{{data[0].groupName}}/{{data[0].groupOwner}}"> Leave Group </a>
{% endif %}

{% if data[0].groupOwner == session['username'] %}
  <a href = "/close_group/{{data[0].groupName}}/{{data[0].groupOwner}}"> Close Group </a>
{% endif %}

</br>
<font size="+1"><u>You are logged in as:</font></u> {{session['username']}}
</body>
</html>
