<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = ('css/bootstrap.min.css') ) }}">
	<title>Search By Tag</title>
</head>
<body style="margin-left: 2%; margin-right: 2%;">

<button onclick="location.href='/home'" type="button" class="btn btn-sm"> Back </button> <br><br>

<form action="/get_tag" method="POST">
  <input type="text" name = "tag_name" placeholder="tag name" id = "search_bar" required/> <br>
	<!-- <script>
		var validate = function() {
			return document.getElementById("search_bar").value.length != 0;
		};
	</script> -->
	<input type="submit" value = 'Search' class="btn btn-sm" />
</form>
<br />

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<a href = "/follow">Manage Follows</a> <br />
<a href = "/group">Manage Groups</a> <br />
Here's your results:

<table class="table table-sm">
	<thead class="thead-dark">
		<tr>
		<th>Time</th>
		<th>Creator</th>
		<th>Post ID</th>
		<th>Groups</th>
		<th>Post</th>
		<th>Caption</th>
		<th>Tagged</th>
		<th>Comment</th>
		<th>Likes</th>
	</tr>
</thead>


{% for line in posts %}

	<tr>
		<td>{{line.timestamp}}</td>
		<td>{{line.photoOwner}}</td>
		<td>{{line.photoID}}</td>
		<td>
			{% if line.allFollowers == 1 %}
			All Followers
			<br />
			{% endif %}
			{% for group in viewableGroups %}
				{% if group.photoID == line.photoID %}
					{{group.groupName}}
					<br />
				{% endif %}
			{% endfor %}

		</td>
		<td>
					<img src="{{ url_for('static', filename = ('uploads/' + line.filePath) ) }}" alt="Image" height="80" width="80">
		</td>

		<td>{{line.caption}}</td>
		<td>
			{% for tag in tags %}
			{% if tag.photoID == line.photoID %}

			{{tag.username}}
			<br>

			{% endif %}
			{% endfor %}
			<button onclick="location.href='/tag/{{ line.photoID }}'" type="button" class="btn btn-sm"> Tag </button>
		</td>
		<td>
			<form action="/comment/{{line.photoID}}" method="POST" id = "commenter">
				{% for comment in comments %}
				{% if comment.photoID == line.photoID %}

				{{comment.username}}({{comment.timestamp}}): {{comment.commentText}}
				<br />

				{% endif %}
				{% endfor %}
				<input type="text" name="myComment" required> <br>
				<input type="submit" id = "submit" value = Comment class="btn btn-sm">
			</form>
		</td>
		<td>
			{{line.likeCount}}


			{% if line.ifLiked == 1 %}
			<form action="/unlike/{{line.photoID}}" method="POST" id = "unliker">
				<input type="submit" style="color:red" id = "submit" value = Unlike class="btn btn-sm">
			</form>
			{% else %}
			<form action="/like/{{line.photoID}}" method="POST" id = "liker">
				<input type="submit" id = "submit" value = Like class="btn btn-sm">
			</form>
			{% endif %}
		</td>
	</tr>


{% endfor %}


</table>
<br>
<button onclick="location.href='/logout'" type="button" class="btn btn-sm btn-info"> Logout </button>
<br>
<br>
</body>


</html>
